/*
    Document   : css/css.css
    Created on : 2015-03-24 10:53 AM
    Author     : Ho
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body {
    text-align: center;
    background-color:#5f96c9;
}

table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 3px ridge;
    text-align: center;
}

.list_container {
    position: relative;
    width: 600px;
    padding: 25px;
    left: calc(50% - 250px - 2px - 50px);
    background: #ffffff;
    border-radius:25px;
}